<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>..\.vs</ResultsDirectory>
    <CollectSourceInformation>true</CollectSourceInformation>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <!-- Enable code coverage if needed -->
      <!-- <DataCollector friendlyName="Code Coverage" /> -->
    </DataCollectors>
  </DataCollectionRunSettings>
  <LoggerRunSettings>
    <Loggers>
      <!-- TRX logger with timestamped filename -->
      <Logger friendlyName="trx" enabled="True">
        <Configuration>
          <LogFilePrefix>testOutcomes</LogFilePrefix>
        </Configuration>
      </Logger>
      <!-- HTML logger with timestamped filename -->
      <Logger friendlyName="html" enabled="True">
        <Configuration>
          <LogFilePrefix>testOutcomes</LogFilePrefix>
        </Configuration>
      </Logger>
      <!-- Console logger -->
      <Logger friendlyName="console" enabled="True">
        <Configuration>
          <Verbosity>normal</Verbosity>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
